* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}



/*menu admin*/
.form-floating {
  margin: 20px;
  width: 300px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 9px;
}

.form-check {
  margin-left: 20px;
}

.btn-primary {
  margin: 20px;
  width: 300px;
  border-radius: 9px;
  margin-top: 1.5px;
}

#carouselExampleSlidesOnly {
  width: 600px;   /* ancho fijo */
  max-width: 90%; /* que no se pase en pantallas pequeñas */
  margin: 0 auto; /* centra el carrusel */
}

#carouselExampleSlidesOnly img {
  height: 300px;      /* controla la altura */
 
}



/*menu noticias*/
.empresa-name {
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: white;
  background-color: black;
  margin: 0;
  padding: 10px;
}

.nav-item a {
  color: black;
  border: none !important;     /* quita borde */
  text-decoration: none; 
  gap: 20px;
}

.row {
  display: flex;
  text-align: center;
}

.card-header {
  text-align: left;
}

.card-title {
  text-align: left;
}

.card-text {
  text-align: left;
}

.btn-outline-primary {
  padding-top: 3px;

}






.line {
  border: none;          /* quita el borde por defecto */
  height: 2px;           /* grosor de la línea */
  background-color: black; /* color negro */
  margin: 20px auto; 
  width: 95%;  
}

.footer{
  text-align: center;
  margin: 20px;
  font-size: 24px;
  color: black;
  margin: 0;
  padding: 10px;
}


.pagination-footer{
  display: flex;
  gap: 400px;
  text-align: center;
  margin-left: 275px;
  margin-right: 300px;
  border: 0.5px solid black;  /* borde visible */
  padding: 20px;            /* espacio interno */
  margin: 20px auto;        /* espacio externo y centrado */
  width: 80%;               /* ancho del cuadro */
  border-radius: none ;
}

#btnSignup{
  width: 350px;
  height: 40px;
}

#btnCancel{
  width: 350px;
  height: 40px;
}


